* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

header {
  background-color: #ff3b3c; /* Ejemplo de color */
  height: 152px;
}

main {
  height: auto;
}

footer {
  background-color: #7525A7;
  min-height: 368px;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  height: inherit;
  min-height: inherit;
}

.columns-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

/* header section */

header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.search {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0 20px;
}
.search .form {
  justify-self: center;
  width: 80%;
}
.search .form input {
  height: 62px;
  border-radius: 14px;
  border: none;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s;
}
.search .form input:hover {
  outline: 2px solid #660000;
}
.search .form input:focus {
  outline: 2px solid #660000;
}
.search .form input::placeholder {
  font-size: 16px;
  text-align: center;
}

.social ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 100%;
}
.social ul li {
  width: 32px;
  height: 32px;
}
.social ul li img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav ul li a {
  font-weight: 700;
  font-size: 16px;
}
.nav ul li a:hover {
  text-decoration: underline;
}

/* main section */

main .container {
  padding: 50px 20px;
}
main .columns-container {
  justify-content: center;
  gap: 40px;
} 

.product-section {
  width: 100%;
  min-width: 350px;
}

.product-image,
.product-description,
.product-details {
  flex: 1;
}

.product-description .title {
  color: #333;
  font-size: 32px;
  font-weight: bold;
  word-wrap: break-word;
}
.product-description .selector fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin-top: 30px;
}
.product-description .selector fieldset label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}
.product-description .selector fieldset select {
  font-size: 18px;
  padding: 12px;
  border-radius: 16px;
  border: 1px solid #dcdcdc;
  background-color: transparent;
  outline: none;
}
.product-description .info {
  margin-top: 50px;
}
.product-description .info span {
  font-size: 16px;
  font-weight: 600;
}
.product-description .info p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
  color: #666;
  line-height: 24px;
}

.product-details {
  background-color: #ebebeb;
  padding: 50px 40px;
}
.product-details .price span {
  font-size: 22px;
  color: #ff3b3c;
}
.product-details .price p:first-of-type {
  margin-top: 12px;
  font-size: 38px;
  font-weight: 700;
  line-height: 42px;
}
.product-details .price p:last-of-type {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}
.product-details .delivery {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product-details .delivery div {
  display: flex;
  gap: 20px;
}
.product-details .delivery img {
  width: 22px;
  height: 22px;
}
.product-details .delivery p {
  font-size: 22px;
  font-weight: 400;
}
.product-details .add-to-cart {
  margin-top: 40px;
}
.product-details .add-to-cart form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.product-details .add-to-cart .count-product {
  width: 23%;
  border: none;
  padding: 18px;
  font-size: 18px;
  border-radius: 16px;
  text-align: center;
}
.product-details .add-to-cart .main-btn {
  width: 72%;
  background-color: #ff3b3c;
  color: white;
  border: none;
  border-radius: 16px;
  padding: 18px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.product-details .add-to-cart .main-btn:hover {
  background-color: #e93737;
  transition: all 0.3s;
}
.product-image {
  max-width: 550px;
  display: flex;
  width: 100%;
  gap: 5px;
}
.product-image img {
  width: 100%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  height: min-content;  
}
.product-image .main-img {
  width: 80%;
}
.product-image .carrusel {
  width: 20%;
}

/* sales section */

.sales-block {
  margin-top: 50px;
}
.sales-block h2 {
  font-size: 40px;
  text-align: center;
}

/* product card section*/

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 100px;
  margin: 40px 20px;
}
.product-card {
  background-color: #f0f0f0;
  border-radius: 14px;
  width: 300px;
  overflow: hidden;
  color: black;
  cursor: pointer;
  justify-self: center;
}
.product-info {
  padding: 20px;
}
.product-title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  word-wrap: break-word;
  line-height: 22px;
}
.product-description {
  font-size: 14px;
  line-height: 22px;
  color: #515151;
  font-weight: 500;
}
.product-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center center;
}
.product-price-block {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
}
.product-price-block .price {
  font-size: 22px;
  font-weight: 700;
  flex: 1;
}
.product-price-block .discount {
  font-size: 12px;
  font-weight: 700;
  color: #428f13;
}
.product-tax-policy {
  font-size: 12px;
  font-weight: 300;
  color: #444;
}

/* footer section */

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .container .columns-container {
  column-gap: 50px;
  row-gap: 20px;
  padding: 0 20px;
  margin-top: 20px;
}
.col ul li {
  padding-bottom: 14px;
}
.col ul li.col-main-item {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 24px;
}
.col ul li a:hover {
  color: #94ffed;
  transition: all 0.3s;
}
.copyright {
  font-weight: 700;
  font-size: 18px;
  color: white;
  text-align: center;
  border-top: 1px solid #ba53fb;
  padding: 30px 0;
  margin-top: 20px;
}

@media (max-width: 600px) {
}