* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

header {
  background-color: #ff3b3c; /* Ejemplo de color */
  height: 140px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

main {
  height: auto;
}

footer {
  background-color: #7525a7;
  min-height: 368px;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  height: inherit;
  min-height: inherit;
}

/* buttons */

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #ff3b3c;
  color: white;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.btn-primary:hover {
  transition: all 0.3s ease;
  background-color: #e53434;
}
.btn-primary:active {
  background-color: #fa3636;
}
.btn-outline {
  width: 100%;
  border: 1px solid #ff3b3c;
  color: #ff3b3c;
  font-weight: bold;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
.btn-outline:hover {
  transition: all 0.3s ease;
  background-color: #ff3b3c;
  color: white;
}
.btn-outline:active {
  background-color: #ec3838;
}

/* header section */

header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
#menu-icon {
  display: none;
  position: absolute;
  top: 16px;
  right: 20px;
  cursor: pointer;
}
.search {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0 20px;
}
.search .logo img {
  width: 218px;
}
.search .form {
  justify-self: center;
  width: 80%;
}
.form input {
  height: 62px;
  border-radius: 14px;
  border: none;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s;
}
.form input:hover {
  outline: 2px solid #660000;
}
.form input:focus {
  outline: 2px solid #660000;
}
.form input::placeholder {
  font-size: 16px;
  text-align: center;
}
.social ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 100%;
}
.social ul li a {
  display: block;
  width: 32px;
  height: 32px;
}
.social ul li img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.social ul li svg {
  fill: white;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav ul li a {
  font-weight: 700;
  font-size: 16px;
}
.nav ul li a:hover {
  text-decoration: underline;
}

/* dropdown menu */

.dropdown-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  position: absolute;
  width: 100%;
  height: 0;
  background-color: #ff3b3c;
  overflow: hidden;
  transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu.open {
  height: calc(100vh - 80px);
}
.dropdown-menu .form {
  width: 90%;
}
.dropdown-menu .nav ul {
  flex-direction: column;
  gap: 50px;
}
.dropdown-menu .nav ul li a {
  font-size: 20px;
}

/* hero section */

#hero {
  height: 200px;
  background: url(../assets/hero_bg.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: 140px;
}
#hero .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}
#hero .title-container span {
  display: block;
  color: #ffffff;
  font-weight: 700;
}
#hero .title-container span:first-child {
  font-size: 40px;
}
#hero .title-container span:last-child {
  font-size: 80px;
  line-height: 80px;
}

/* product card section*/

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 40px 20px;
}
.product-card {
  background-color: #f0f0f0;
  border-radius: 14px;
  width: 100%;
  max-width: 320px;
  overflow: hidden;
  color: black;
  cursor: pointer;
}
.product-info {
  padding: 20px;
}
.product-title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  word-wrap: break-word;
  line-height: 22px;
}
.product-description {
  font-size: 14px;
  line-height: 22px;
  color: #515151;
  font-weight: 500;
}
.product-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center center;
}
.product-price-block {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
}
.product-price-block .price {
  font-size: 22px;
  font-weight: 700;
  flex: 1;
}
.product-price-block .discount {
  font-size: 12px;
  font-weight: 700;
  color: #428f13;
}
.product-tax-policy {
  font-size: 12px;
  font-weight: 300;
  color: #444;
}

/* footer section */

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.columns-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 20px;
  padding: 0 20px;
  margin-top: 20px;
}
.col ul li {
  padding-bottom: 14px;
}
.col ul li.col-main-item {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 24px;
}
.col ul li a:hover {
  color: #94ffed;
  transition: all 0.3s;
}
.copyright {
  font-weight: 700;
  font-size: 18px;
  color: white;
  text-align: center;
  border-top: 1px solid #ba53fb;
  padding: 30px 0;
  margin-top: 20px;
}

@media (max-width: 600px) {
  /* product card section */
  .product-container {
    grid-template-columns: 1fr;
  }
  .product-card {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  /* header section */

  header {
    height: 80px;
  }
  #menu-icon {
    display: block;
  }
  .search .logo img {
    width: 120px;
  }
  .container .nav,
  .container .form,
  .container .social {
    display: none;
  }

  /* dropdown-menu */

  .dropdown-menu {
    display: flex;
  }

  /* hero section */

  #hero {
    height: 160px;
    margin-top: 80px;
  }
  #hero .title-container span:first-child {
    font-size: 36px;
  }
  #hero .title-container span:last-child {
    font-size: 60px;
    line-height: 60px;
  }
}
